<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cakee-onepage</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head> 

<body>
  <nav class="menu menu--bigger">
    <div class="menu__container">
    <a href="" class="menu__logo">Cakee</a>
    <input class="menu__btn" type="checkbox" id="menu-btn" />
    <label class="menu__icon" for="menu-btn">
      <span class="menu__navicon"></span>
    </label>
    <ul class="menu__list">
      <li class="menu__item menu__item--active"><a class="menu__link" href="#home"> HOME</a></li>
      <li class="menu__item"><a class="menu__link" href="#about">ABOUT</a></li>
      <li class="menu__item"><a class="menu__link" href="#services">SERVICES</a></li>
      <li class="menu__item"><a class="menu__link" href="#gallery">GALLERY</a></li>
      <li class="menu__item"><a class="menu__link" href="#blog">BLOG</a></li>
      <li class="menu__item"><a class="menu__link" href="#contact">CONTACT</a></li>
    </ul>
  </div>
  </nav>

  <section class="home" id="home">
    <div class="container ">
      <h1 class="home__title">Fresh Life</h1>
      <p class=" home__text">Sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco.</p>
      <button class="btn ">GET FREE NOW</button>
      </div>

  </section>

  <section class="about" id="about">
    <div class="container">
    
    <div class="about__text-box" data-aos="fade-down">
      <h2 class="about__title">About Us</h2>
      <p class="about__text ">Abore Cahee magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.

      Nim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <img class="about__img" src="images/plate-of-berriers.png" alt="plate of berriers" data-aos="fade-up">
    </div>
  </section>

  <section class="services" id="services">
    <div class="container">
    <div class="services__title" >Our Services</div>
    <div class="services__item-box" data-aos="fade-right">
      <div class="services__item">Online Shopping</div>
      <img class="services__icon services__icon--sized" src="images/icon-cart.png" alt="icon shop cart">
    </div>
    <div class="services__item-box" data-aos="fade-right">
      <div class="services__item">Quality Product</div>
      <img class="services__icon" src="images/icon-quality.png" alt="carrot">
    </div>
    <div class="services__item-box" data-aos="fade-right">
      <div class="services__item">Domestic & International Delivery</div>
      <img class="services__icon" src="images/icon-international.png" alt="carrot">
    </div>
    <div class="services__item-box" data-aos="fade-right">
      <div class="services__item">Well Organized</div>
      <img class="services__icon" src="images/icon-carrot.png" alt="icon carrot">
    </div>
    </div>
  </section>

  <section class="gallery" id="gallery">
    <div class="container">
    
    <div class="text-box">
      <h2 class="text-box__title">Gallery</h2>
      <p class="text-box__text ">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="gallery__img-box">
      <img class="gallery__img gallery__img--big" src="images/apricot.png" alt="plate of berriers" data-aos="fade-down-right">
      <img class="gallery__img gallery__img--small-1" src="images/blueberries.png" alt="plate of berriers" data-aos="flip-up">
      <img class="gallery__img gallery__img--small-2" src="images/Blackberry.png" alt="plate of berriers" data-aos="flip-up">
      <img class="gallery__img gallery__img--medium-1" src="images/blueberries-in-yogurt.png" alt="plate-of-berriers" data-aos="fade-up-right">
      <img class="gallery__img gallery__img--medium-2" src="images/pomegranate.png" alt="plate of berriers" data-aos="flip-left">
    </div>
    <button class="btn btn--darkblue"> VIEW MORE </button>
    </div>
    
  </section>

  <section class="subscribe" id="subscribe">
    <div class="container">
      <h2 class="subscribe__title">Subscribe To Us</h2>
      <p class="subscribe__text">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

      <form action="#" class="subscribe__form">
        <input class="subscribe__email" type="text" placeholder="Your email address">
        <input type="button" class="btn btn--green" value="SUBSCRIBE">
      </form>

    </div>
  </section>

  <section class="blog" id="blog">
    <div class="container">
      <div class="text-box">
      <h2 class="text-box__title">Blog</h2>
      <p class="text-box__text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
    </div>
      <div class="blog__item-wrapper">
        <div class="blog__item blog__item-1" data-aos="flip-left"> 
          <div class="blog__date">20 Nov</div>
          <div class="blog__gradient">
            <a class="blog__name" href="#">Green Smoothies: Too Much of a Good Thing?</a>
            <p class="blog__author">by Dynamix</p>
            </div>
        </div>
        <div class="blog__item blog__item-2" data-aos="flip-left">
          <div class="blog__date">14 Nov</div>
          <div class="blog__gradient">
            <a class="blog__name" href="#">Growing Food and a “Thirst” for Innovation</a>
            <p class="blog__author">by Dynamix</p>
        </div>
        </div>
        <div class="blog__item blog__item-3" data-aos="flip-left">
            <div class="blog__date">10 Nov</div>
            <div class="blog__gradient">
            <a class="blog__name" href="#">Pesticides & Food: What You Need to Know</a>
            <p class="blog__author">by Meidson</p>
        </div>
        </div>
    </div>
    <button class="btn btn--red">VIEW MORE</button>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="container">
      <div class="text-box">
        <h2 class="text-box__title text-box__title--small">Contact</h2>
        <p class="text-box__text">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="contact__wrapper">
        <div class="contact__text-wrapper">
          <h3 class="contact__text-strong">ADDRES</h3>
          <p class="contact__text">123 City name, Street, City, Country</p>
          <h3 class="contact__text-strong">EMAIL</h3>
          <p class="contact__text">cakee@domain.com</p>
          <h3 class="contact__text-strong">PHONE</h3>
          <p class="contact__text">+0123456789</p>
        </div>

        <form action="#" class="contact__form">
          <input class="contact__form-item contact__name" type="text" placeholder="Your name...">
          <input class="contact__form-item contact__email" type="text" placeholder="Your email...">
          <input class="contact__form-item contact__number" type="text" placeholder="Your phone number...">
          <textarea class="contact__form-item contact__message" type="text" placeholder="Your message..."></textarea>
          
          <input type="button" class="btn btn--darkblue" value="SEND MESSAGE">
        </form>
    </div>
    </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class=" footer__wrapper">
          <p class="footer__text">coded by <a class="footer__link" href="https://github.com/NorbertLuszkiewicz">NorebrtLuszkiewicz</a> 2020</p>
          <a class="footer__logo" href="#">Cakee</a>
          <p class="footer__text">Designed with<span class="footer__text--red"> love</span> by <a class="footer__link" href="https://www.behance.net/auskteez?utm_medium=referral&utm_source=unsplash">Auskteez</a></p>

        </div>
      </div>
    </footer>

</body>

</html>
